body{
background-color:darkblue;
}
h2{
text-align:center;
margin-top:0px;
margin-bottom:0px;
color:white;
}
small{
color:white;
margin-left:600px;
margin-top:0px;
}

form{
background-color:#0a003b;
color:white;
position:absolute;
left:10%;
top:10%;
right:10%;
bottom:5%;
padding-top:20px;
padding-left:10px;
}
.text,select,textarea{
width:98%;
border-radius:5px;
paddding-top:5px;
padding-bottom:5px;
margin-top:5px;
margin-bottom:5px;
}
button{
width:100%;
background-color:green;
padding-top:5px;
padding-bottom:5px;
}
